header {
    background-color: #003253; /* Color de fondo azul */
    color: #000000; /* Texto en blanco */
    display: grid; /* Usar CSS Grid para dividir el encabezado en dos columnas */
    grid-template-columns: 1fr 1fr; /* Dividir el encabezado en dos columnas de igual tamaño */
    align-items: center; /* Centra verticalmente los elementos en el encabezado */
    padding: 10px;
}

/* Estilo del mensaje de bienvenida */
.welcome-message {
    text-align: left;
    padding-left: 20px;
}

/* Estilos para enlaces sin decoración */
.no-link-decoration {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #ffffff; /* Color del texto del enlace personalizado */
    /* Otros estilos personalizados, como el color de fondo, si es necesario */
}

/* Estilo del menú de navegación */
nav ul {
    /*background-color: #333;  Color de fondo gris oscuro */
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right; /* Alinea el menú de navegación a la derecha */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF; /* Texto en blanco */
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #FF4500; /* Color de fondo naranja */
}

/* Estilo del contenido principal */
main {
    padding: 20px;
}

/* Estilo del pie de página */
footer {
    background-color: #0058A0; /* Color de fondo azul */
    color: #FFF; /* Texto en blanco */
    text-align: center;
    padding: 10px;
    position: fixed; /* Fija el pie de página */
    bottom: 0; /* Lo coloca en la parte inferior de la ventana */
    width: 100%; /* Ocupa todo el ancho de la ventana */
}


/*** CSS de los forms de login & register ***/
/* Estilo del formulario */
form {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%; /* Ancho del formulario */
    padding: 10px;
    background-color: #F2F2F2; /* Color de fondo gris claro */
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo de los campos de entrada */
form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #DDD;
    border-radius: 5px;
}

/* Estilo del botón de envío */
form input[type="submit"],
form input[type="button"] {
    background-color: #0058A0; /* Color de fondo azul */
    color: #FFF; /* Texto en blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo del botón de registro */
.login-register-button {
    display: block;
    background-color: #0058A0;
    color: #FFF;
    border: none;
    padding: 10px 0;
    width: 25%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto; /* Centra horizontalmente el botón */
}

/* Estilo del mensaje de error */
.error-message {
    color: red;
    margin-top: 10px;
}

/* Estilo del mensaje de éxito */
.success-message {
    color: green;
    margin-top: 10px;
}

/* Estilo de la tabla con la lista de jugadores del equipo */
#header_captain {
    text-align: center;
    font-weight: bold;
}

#div-list_players {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}

#div-list_players table {
    /* Estilos para la tabla, si es necesario */
    width: 80%; /* Ancho de la tabla */
    text-align: center; /* Alinea el contenido de la tabla al centro */
}

/* Estilos para la tabla */
#th-list_players {
    background-color: linear-gradient(to bottom, #ff0224, #00325300); /* Color de fondo del encabezado */
    font-weight: bold; /* Texto en negrita en el encabezado */
}

#td-list_players {
    border-collapse: collapse; /* Colapsar bordes de celda */
    width: 80%; /* Ancho de la tabla (ajusta según tus necesidades) */
    margin: 0 auto; /* Centrar horizontalmente la tabla */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para filas pares e impares (alternar colores) */
#td-list_players tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo de filas pares */
}

#td-list_players tr:nth-child(odd) {
    background-color: #ffffff; /* Color de fondo de filas impares */
}

/* Estilos para las celdas */
#td-list_players th,
#td-list_players td {
    padding: 10px; /* Espaciado interno en celdas */
    text-align: center; /* Alineación centrada del texto en celdas */
    border: 1px solid #dddddd; /* Borde de celdas */
}

/* Estilos para encabezados y celdas específicas (personaliza según tus necesidades) */
#td-list_players th {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
}

/* Estilos para la tabla en dispositivos móviles (ajusta según tus necesidades) */
@media (max-width: 768px) {
    #td-list_players {
        width: 100%; /* Ancho completo en dispositivos móviles */
    }
}
